{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menty</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div><img id="logo" src="{% static 'css/logo.png' %}"></div>
        <div class="branding">
            <h1 id="title">Improve your mental health</h1>
            <h4 id="subtitle">by these small tasks</h4>

            <button class="btn" type="submit"><a href="#tasks">Start today</a></button>

            <img src="{% static 'css/pic1.png' %}">
        </div>
    </header>

    <hr class="solid">

    <section id="main-content">
        <div id="tasks">
            <h1>We've set up some goals for you today!</h1>
            <div id="tasklist">
                <li>
                    <div class="task-item">
                        <h3>🙏 Be grateful to something that happened today</h3>
                        <p>There are lots of great things happening around you, you just have to realize them.</p>
                    </div>
                    <input id="checkbox", type="checkbox" onclick="checkMe()">
                </li> 

                <li>
                    <div class="task-item">
                        <h3>🏀 Do some exercise</h3>
                        <p>Make sure you always stay healthy while staying at home.</p>
                    </div>
                    <input id="checkbox", type="checkbox" onclick="checkMe()">
                </li>

                <li>
                    <div class="task-item">
                        <h3>📅 Plan a timetable for yourself</h3>
                        <p>Plan your time wisely to prevent stressing out or being overwhelmed by a bunch of tasks.</p>
                    </div>
                    <input id="checkbox", type="checkbox" onclick="checkMe()">
                </li>

                <button onclick="moreTasks()" id="more-btn">Give me more !!</button>

                <div id="more-tasks">
                    <li>
                        <div class="task-item">
                            <h3>🧑‍🤝‍🧑 Be grateful to three people that impacted you the most</h3>
                            <p>Family members, friends. Think about people that are always there for you. Be thankful for them.</p>
                        </div>
                        <input id="checkbox", type="checkbox" onclick="checkMe()">
                    </li>
    
                    <li>
                        <div class="task-item">
                            <h3>❤️ Help your love ones to do something</h3>
                            <p>Lend them a hand, show your appreciation for them by action..</p>
                        </div>
                        <input id="checkbox", type="checkbox" onclick="checkMe()">
                    </li>

                    <li>
                        <div class="task-item">
                            <h3>☁️ Open up and talk about your feelings</h3>
                            <p>It might be tough to deal with your mental health problems alone. Open up to someone and be honest about yourself. Remember that you are not alone!</p>
                        </div>
                        <input id="checkbox", type="checkbox" onclick="checkMe()">
                    </li>
                </div>
            </div>
        </div>

        <div id="leaderboard">
            <h3>Leaderboard 🔥</h3>
            <ul>
                <li>
                    <div class="leaderboard-item">
                        <p class="name">1. Robert</p>
                        <p class="record">5 tasks </p>
                    </div>
                </li>

                <li>
                    <div class="leaderboard-item">
                        <p class="name">2. William</p>
                        <p class="record">5 tasks </p>
                    </div>
                </li>

                <li>
                    <div class="leaderboard-item">
                        <p class="name">3. Joe</p>
                        <p class="record">3 tasks </p>
                    </div>
                </li>

                <li>
                    <div class="leaderboard-item">
                        <p class="name">4. Lim</p>
                        <p class="record">2 tasks </p>
                    </div>
                </li>

                <li>
                    <div class="leaderboard-item">
                        <p class="name">5. Ali</p>
                        <p class="record">1 tasks </p>
                    </div>
                </li>
               
                <li>
                    <div class="leaderboard-item">
                        <h4 class="name">You 😎</h4>
                        <h4 id="myrecord" class="record">0  tasks</h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>

<script text="text/javascript">
    // document.getElementById('task-btn').onclick = changeColor;   
    var score = 0

    function moreTasks() {
        var moreTasks = document.getElementById("more-tasks");
        var moreBtn = document.getElementById("more-btn")

        if (moreTasks.style.display != "none") {
            moreTasks.style.display = "inline"
            moreBtn.style.display = "none"
        }
        else {
            moreTasks.style.display = "none"
            moreBtn.style.display = "inline"
        }
        console.log("HELLO")
    }

    function checkMe() {
        const cb = document.getElementById('checkbox')
        var line =  document.getElementById('myrecord')

        if (cb.checked) {
            score += 1
        }
        else {
            score -= 1
        }
        line.innerHTML = score + " tasks"
    }
    
</script>

